/*------ Змінні------*/
:root {
	--main-color: #434455;
	--secondary-color: #2e2f42;
	--contrasting-color: #ffffff;
	--accent-color: #4d5ae5;
	--lighting-color: #f4f4fd;

	--bg-main-color: #ffffff;
	--bg-accent-color: #e7e9fc;
	--bg-modal-color: #fcfcfc;
	--bg-hover-btn: #404bbf;
}
/*------ Загальні стилі------*/
body {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
	color: var(--main-color);
	background-color: var(--bg-main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
/* img {
	display: block;
	max-width: 100%;
} */

.conteiner {
	width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
/* ------h2 */
.section-title {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--secondary-color);
}
/* ------h3 */
.subtitle {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--secondary-color);
}
/* ------Oписовий текст */
.deck {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.02em;
}
/* ------button */
.btn {
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	border: none;
	background-color: var(--accent-color);
	color: var(--contrasting-color);
}
/* ----small text-- */
.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.link {
	text-decoration: none;
}
/*----- header -----*/
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e7e9fc;
}
.header-nav {
	display: flex;
	align-items: center;
	gap: 76px;
}
.header-nav-list {
	display: flex;
	gap: 40px;
}
.header-list {
	display: flex;
	gap: 40px;
}
.header-contact {
	font-style: normal;
}
.header-logo {
	padding-top: 24px;
	padding-bottom: 24px;
}
.header-logo,
.footer-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--accent-color);
	text-decoration: none;
}
.header-logo-accent {
	color: var(--secondary-color);
}
.header-nav-link {
	display: inline-block;
	padding-top: 24px;
	padding-bottom: 24px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--secondary-color);
}
.header-nav-link:hover,
.header-nav-link:focus,
.header-list-link:hover,
.header-list-link:focus {
	color: var(--bg-hover-btn);
}
.header-list-link {
	padding-top: 24px;
	padding-bottom: 24px;
	color: var(--main-color);
	font-style: normal;
}
/*------ footer------*/
.footer {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--secondary-color);
}
.footer-logo-accent {
	color: var(--lighting-color);
}

.footer-text {
	margin-top: 16px;
	color: var(--lighting-color);
	max-width: 264px;
}
/*------ main------*/
/*----- hero -----*/
.hero {
	display: flex;
	flex-direction: column;
	gap: 48px;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary-color);
	min-height: 600px;
}
.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	color: #ffffff;
	text-align: center;
}
.hero-button:hover,
.hero-button:focus {
	background-color: var(--bg-hover-btn);
}
/*------ about------*/
.about-list {
	display: flex;
	gap: 24px;
}
.about-list-title {
	margin-bottom: 8px;
}
/*------ work------*/
.work {
	padding-top: 0;
}
.work-title {
	margin-bottom: 72px;
	text-align: center;
}
.work-list {
	display: flex;
	gap: 24px;
	background-color: var(--contrasting-color);
}
.work-lis-img {
	display: block;
}
/*------ team------*/
.team {
	background-color: var(--lighting-color);
}
.team-title {
	text-align: center;
	margin-bottom: 72px;
}
.team-list {
	display: flex;
	gap: 24px;
}
.team-list-item {
	background-color: var(--contrasting-color);
	background: #ffffff;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}
.team-list-item:hover {
	order: 1;
}
.tiam-content {
	padding: 32px 16px;
}
.team-list-title {
	margin-bottom: 8px;
}
.team-list-title,
.team-list-text {
	text-align: center;
}

/*------ portfolio------*/
.portfl {
	padding-top: 96px;
}
.portfl-menu {
	display: flex;
	justify-content: center;
	gap: 24px;
	margin-bottom: 72px;
}
.portfl-btn {
	padding: 12px 24px;
	color: var(--accent-color);
	background-color: var(--lighting-color);
	cursor: pointer;
	border: 1px solid var(--bg-accent-color);
	border-radius: 4px;
}
.portfl-btn:hover,
.portfl-btn:focus {
	color: var(--contrasting-color);
	background-color: var(--bg-hover-btn);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfl-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 48px;
	column-gap: 16px;
}
.portfl-list-img {
	display: block;
}
.portfl-content {
	padding: 32px 16px;
	border: 1px solid var(--bg-accent-color);
	border-top: none;
}
.portfl-link-text {
	color: #434455;
	margin-top: 8px;
}
